@media screen and (max-width: 960px) {
    :root {
        font-size: 16px;
    }

    body {
        width: 100%;
        height: 100vh;
        display: block;
        overflow: hidden;

        * {
            resize: none !important;
        }

        main,
        aside,
        footer {
            position: fixed;
            width: 100%;
            height: 90vh;
            overflow-y: auto;
            transition: var(--medium_transition);
        }

        aside,
        footer {
            z-index: 2;
            width: calc(100% - 1em);
            transform: translateX(-100vw);
        }

        footer {
            right: 0;
            left: auto;
            transform: translateX(100vw);
        }

        &[data-selected-pane="preview"] main,
        &[data-selected-pane="content_editor"] aside,
        &[data-selected-pane="style_editor"] footer {
            transform: translateX(0);
            box-shadow: 0 0 2px 2px var(--tint), 0 0 4px 2px var(--tint);
        }

        &[data-selected-pane="content_editor"] button[title="Switch to Content Editor"],
        &[data-selected-pane="preview"] button[title="Switch to Preview"],
        &[data-selected-pane="style_editor"] button[title="Switch to Style Editor"] {
            background: var(--g5) !important;
            border: var(--normal_border) !important;
            border-color: var(--primary) !important;
            border-radius: 50% !important;
        }
    }

    #mobile_nav {
        position: fixed;
        display: flex;
        z-index: 9;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1em;
        border-top: var(--normal_border);
        // border-color: var(--primary);
        background: var(--white);

        button {
            width: 3em;
            height: 3em;
            margin-bottom: 0;
            font-size: inherit;
            background: none;
            border: none;
        }
    }

    ::-webkit-scrollbar {
        width: 0.5em;
    }

    #walkthrough_dialogue,
    #modal .content {
        position: fixed;
        width: 100%;
        max-width: none;
        overflow: hidden;
    }

    #modal {
        .content {
            top: 0;
            left: 0;
            transform: none;
        }
    }

    #walkthrough_dialogue {
        top: auto !important;
        right: auto !important;
        bottom: 0 !important;
        left: 0 !important;
        transform: none !important;
    }

    button,
    label {
        &[title]::after {
            display: none;
        }
    }

    #status_bar,
    #advancedUI_toggle,
    #zoom,
    #import_export {
        display: none;
    }

    #toolbar label {
        margin: 0;
    }

    .loader {
        font-size: 2em;
    }
}
