@media print {
    body {
        --white: #{$white};
        --g5: #{$g5};
        --g4: #{$g4};
        --g3: #{$g3};
        --g2: #{$g2};
        --g1: #{$g1};
        --g0: #{$g0};
        display: block;

        & > :not(main),
        #preview_header,
        .heading {
            display: none;
        }

        #preview {
            transform: none !important;
            padding: 0.25in;
            background: var(--white);
        }
    }
}
